  .container3 {
   margin:0 auto;
   width: 80%;
  }

.video-card{
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
}

.video-card h2{
  text-align: center
}

.link-btn{
  text-decoration: none;
  background-color:rgb(17, 84, 209);
  box-shadow: 0 0 14px rgb(0, 0, 0, 0.25);
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  display: block;
  width: 80px;
  position: relative;
  color: white;
}
.product-card h1{
  text-align: center;
}
.product-card p{
  text-align: center;
}

.section__title{
  margin:50px;
}

.helpBanner{
  background-image: url(../../assets/imgs/helpbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  margin: 0 auto;
}
.helpBannerTitle{
display: flex;
flex-direction: column;
padding-top:6rem;
padding-left: 5rem;
align-items: start;
overflow-y: hidden;
}

.LinkCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
}


.infoBannerR{
  background-color:black;
  height: 50vh;
display: flex;
justify-content: space-between;
align-items: center;
}
.infoBannerTextR{
padding-left: 5rem;
align-items: start;
color: white;
width:60%;
}
.infoBannerImgR{
background-image: url(../../assets/imgs/BGrepair.jpg);
background-size:cover;
height:100%;
width:40%;
}

.infoBannerL{
  background-color:black;
  height: 50vh;
display: flex;
justify-content: space-between;
align-items: center;
}

.infoBannerTextL{
  padding-left: 5rem;
  align-items:start;
  color: white;
  width:60%;
  }

.infoBannerImgL{
  background-image: url(../../assets/imgs/BGmecanic.jpg);
  background-size:cover;
  height:100%;
  width:40%;
  }
  
  .vidBanner{
    display: flex;
    justify-content:center;
  }

  .vidBannerIMG{
    width:50%;
    margin: 0 auto;
  }
  .vidBannerIMG img{
    height: 100%;
  }