.welcome{
  background-image: url("../../assets/imgs/welcomeImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0 auto;
}
.welcomeText{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;
}